*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.page-wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/7d/b6/a5/7db6a534485b92e268643a18bd2326b9.gif);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-items: center;
}
.glass-card {
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    border-radius: 15px;
    backdrop-filter: blur(10px); /* Blurs the background behind the card */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Light border for the glass effect */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* White text to contrast with the background */
    overflow: hidden;
    position: absolute;
}
.glass-card::before{
    content: " ";
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}
@keyframes rotBGimg {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.glass-card::after{
    content: "";
    position: absolute;
    background: #07182e;
    inset: 5px;
    border-radius: 15px;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wish{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    background-color: transparent;
    position: relative;
}
h1{
    color: transparent;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #e8e5df);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 500%;
    overflow: hidden;
    z-index: 1;
}
@keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}
.photos{
    z-index: 5;
    width: 285px;
    height: 385px;
    
}
